/* Coolors Exported Palette - https://coolors.co/e9d2ff-bf70ff-a333ff-6500b8-380066 */

/* CSS HEX */
--thistle: #e9d2ffff;
--heliotrope: #bf70ffff;
--electric-purple: #a333ffff;
--purple: #6500b8ff;
--persian-indigo: #380066ff;

/* CSS HSL */
--thistle: hsla(271, 100%, 91%, 1);
--heliotrope: hsla(273, 100%, 72%, 1);
--electric-purple: hsla(273, 100%, 60%, 1);
--purple: hsla(273, 100%, 36%, 1);
--persian-indigo: hsla(273, 100%, 20%, 1);

/* SCSS HEX */
$thistle: #e9d2ffff;
$heliotrope: #bf70ffff;
$electric-purple: #a333ffff;
$purple: #6500b8ff;
$persian-indigo: #380066ff;

/* SCSS HSL */
$thistle: hsla(271, 100%, 91%, 1);
$heliotrope: hsla(273, 100%, 72%, 1);
$electric-purple: hsla(273, 100%, 60%, 1);
$purple: hsla(273, 100%, 36%, 1);
$persian-indigo: hsla(273, 100%, 20%, 1);

/* SCSS RGB */
$thistle: rgba(233, 210, 255, 1);
$heliotrope: rgba(191, 112, 255, 1);
$electric-purple: rgba(163, 51, 255, 1);
$purple: rgba(101, 0, 184, 1);
$persian-indigo: rgba(56, 0, 102, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #e9d2ffff, #bf70ffff, #a333ffff, #6500b8ff, #380066ff);
$gradient-right: linear-gradient(90deg, #e9d2ffff, #bf70ffff, #a333ffff, #6500b8ff, #380066ff);
$gradient-bottom: linear-gradient(180deg, #e9d2ffff, #bf70ffff, #a333ffff, #6500b8ff, #380066ff);
$gradient-left: linear-gradient(270deg, #e9d2ffff, #bf70ffff, #a333ffff, #6500b8ff, #380066ff);
$gradient-top-right: linear-gradient(45deg, #e9d2ffff, #bf70ffff, #a333ffff, #6500b8ff, #380066ff);
$gradient-bottom-right: linear-gradient(135deg, #e9d2ffff, #bf70ffff, #a333ffff, #6500b8ff, #380066ff);
$gradient-top-left: linear-gradient(225deg, #e9d2ffff, #bf70ffff, #a333ffff, #6500b8ff, #380066ff);
$gradient-bottom-left: linear-gradient(315deg, #e9d2ffff, #bf70ffff, #a333ffff, #6500b8ff, #380066ff);
$gradient-radial: radial-gradient(#e9d2ffff, #bf70ffff, #a333ffff, #6500b8ff, #380066ff);